.container {
    display: flex;
    padding: 3rem .5rem;
    position: relative;
}

.profilePicBox img {
    width: 150px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-width: 5px;
}

.infoBox {
    padding-left: 5rem;
}

.infoBox > div:first-child, .infoBox>div:nth-child(2) {
    display: flex;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.infoBox > div:first-child p, .infoBox>div:nth-child(2) p {
    margin-right: 1.5rem;
}

.infoBox > div:first-child p {
    font-size: 20px;
}

.infoBox>div:last-child p {
    margin-top: .5rem;
}

.website {
    color: rgb(92, 20, 160);
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 718px) {
    
    .profilePicBox,.profilePicBox img{
        width: 100px !important;
        height: 100px !important;
        min-width: 0 !important;
        min-height: 0 !important;
        position: absolute;
    }

    .profilePicBox {
        padding-left: .5rem;
    }

    .infoBox {
        padding-left: 1rem;
    }

    .infoBox>div:first-child {
        display: flex;
        justify-content: flex-end;
        padding-left: 3rem;
    }

    .infoBox>div:nth-child(2) {
        padding: 0;
        padding-bottom: 1rem;
        margin-top: 4rem;
    }

    
}

@media only screen and (max-width: 480px) {
    
    .profilePicBox,.profilePicBox img {
        width: 70px !important;
        height: 70px !important;
    }

}

@media only screen and (max-width: 380px) {
    
    .profilePicBox,.profilePicBox img {
        width: 50px !important;
        height: 50px !important;
    }

}