.container {
    border: 1px solid lightgray;
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
}

.usernameDisplayBox {
    display: flex;
    padding: .5rem;
}

.usernameDisplayBox img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.usernameDisplayBox div {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-weight: bold;
    color: rgb(57, 57, 212);
}

.numbersBox {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 0 2rem;
}

.numbersBox>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.numbersBox p:last-child{
    color: grey;
}

.buttonsBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem .5rem;
}

.buttonsBox button {
    width: 40%;
    border: 1px solid lightgray;
}

.usersPostsBox {
    min-height: 10rem;
    display: flex;
    align-items: center;
}

.usersPostsBox img {
    width: 9.9rem;
    height: 9.9rem;
    margin: 0;
}